<head>

<title>Recapitulatif de votre commande</title>




</head>

<body style="background-color: #33ffff;" >

<h1 style="color: red; text-align: center;"> Merci de votre confiance</h1>

<p>Détail de votre commande </p>

<table style="text-align: center;">

	<thead>

		<tr>
			<th> Nom de l'article </th>
			<th> Description </th>
			<th> Prix </th>
		</tr>

	</thead>

					<tbody>
						<tr>
							<td>Article variable</td>
							<td>Description variable</td>
							<td>Prix variable</td>
						</tr>
					</tbody>


								<tfoot>
										<tr>
											<td>Total de votre commande : variable</td>

										</tr>
								</tfoot>

</table>

</body>

<footer>
	

<h1 style="text-align: center;"> Toute l'équipe de WESTCOAST vous remercie pour votre achat</h1>


<p>Nous vous enverrons votre commande dans un delai de 24 H</p>

<h5>Comme convenu dans nos CGV nous reverserons 5% de la somme pour sauver les chats de Somalie</h5>


</footer>



















